__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/
dist/
build/
.venv/
venv/
.env
.mypy_cache/
.ruff_cache/
.pytest_cache/
.coverage
htmlcov/
*.ulid
.DS_Store
.idea/
.vscode/
.test-run/
tests/integration/todo/analysis/**
!tests/integration/todo/analysis/.gitkeep
